:root {
  --color-primary: rgb(95, 181, 221);
  --color-additional: rgb(173, 223, 247);
  --color-shadow:rgb(172, 171, 171);
  --color-background: #FFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* h1, h3, h4 {
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-size: 2.5rem;
}

.uppercase {
    text-transform: uppercase;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#fff, rgb(226, 226, 226));
}

/* Main */

main {
    background-image: url(header-img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper {
    margin: auto;
    padding-top: 150px;
    width: 800px;  
}

/* Section intro */

a:link {
    color: black;
}

.intro {
    background-color: var(--color-background);
    box-shadow: 0 0 5px rgb(172, 171, 171);
}

.about-me {
    display: flex;
}

.about-me .my-photo img {
    margin: 40px 20px 40px 40px;
}

.about-me .about {
    margin: 40px 40px 40px 20px;
}

#span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.about-me .about .greeting {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-shadow);
}

.about-me .about .greeting h1 {
    padding-top: 20px;
}

.information table {
    padding-top: 20px;
}

.information td {
    padding: 10px 20px 10px 0;
}

.social-networks {
    background-color: var(--color-primary);
    font-size: 1.2rem;
    padding: 25px 80px;
    display: flex;
    justify-content: space-around;
}

.social-networks a {
    color: var(--color-background);
}

/* Section Resume */

.resume {
    margin: auto;
    padding: 20px 0;
    width: 800px;
    text-align: center;
    line-height: 28px;
}

.resume p {
    padding: 20px 0 ;
}

/* Section Skills */

.skills {
    text-align: center;
    margin: auto;
    padding: 20px 0;
    width: 800px;
    background-color: var(--color-background);
    box-shadow: 0 0 5px rgb(172, 171, 171);
}

.skills table {
    padding: 20px 0;
}

.skills table tbody tr td{
    padding: 10px 20px;
}

.rectangle1 {
    position: absolute;
    width: 400px;
    height: 8px;
    background: var(--color-additional);
    border-radius: 10px;
}

.rectangle2 {
    position: absolute;
    width: 310px;
    height: 8px;
    background: var(--color-primary);
    border-radius: 10px;
}

.rectangle3 {
    position: absolute;
    width: 400px;
    height: 8px;
    background: var(--color-additional);
    border-radius: 10px;
}

.rectangle4 {
    position: absolute;
    width: 300px;
    height: 8px;
    background: var(--color-primary);
    border-radius: 10px;
}

.rectangle5 {
    position: absolute;
    width: 400px;
    height: 8px;
    background: var(--color-additional);
    border-radius: 10px;
}

.rectangle6 {
    position: absolute;
    width: 280px;
    height: 8px;
    background: var(--color-primary);
    border-radius: 10px;
}

.rectangle7 {
    position: absolute;
    width: 400px;
    height: 8px;
    background: var(--color-additional);
    border-radius: 10px;
}

.rectangle8 {
    position: absolute;
    width: 100px;
    height: 8px;
    background: var(--color-primary);
    border-radius: 10px;
}

.rectangle9 {
    position: absolute;
    width: 400px;
    height: 8px;
    background: var(--color-additional);
    border-radius: 10px;
}

.rectangle10 {
    position: absolute;
    width: 170px;
    height: 8px;
    background: var(--color-primary);
    border-radius: 10px;
}

/* Section Comment */

.comment {
    padding: 40px 0;
    text-align: left;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.container table td:first-child {
    vertical-align: top;
    padding-right: 10px;
}
.comment textarea {
    padding: 5px;;
    resize: none;
    border: none;
    box-shadow: 0 0 5px var(--color-shadow);
    font-family: 'Montserrat', sans-serif;
}

.tooltip {
    position: fixed;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 5px var(--color-shadow);
}

.comment h3 {
    text-align: center;
}

.btn {
    color: var(--color-background);
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    margin-left: 10px;
    cursor: pointer;
    transition: box-shadow .3s;
}

.btn:hover {
    box-shadow: 0 0 5px var(--color-shadow);
}

.invalid {
    position: absolute;
    height: 5px;
    color: red;
    font-size: 12px;
}

.valid {
    position: absolute;
    height: 5px;
    color: green;
    font-size: 12px;
}

/* Footer */

footer {
    height: 75px;
    width: 100%;
    background-color: var(--color-primary);
    box-shadow: 0 0 5px var(--color-shadow);
}

.footer {
    margin: auto;
    width: 800px;
}